SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/rabbitmq_demo
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

FILE_STORAGE_DIRECTORY=./storage

SPRING_PROFILES_ACTIVE=dev
